body {
  margin: 0;
}

/* 地図を画面全体に表示 */
.leaflet-container {
  width: 100vw;
  height: 100vh;
}

/* カーソルを標準に戻す(標準の手アイコンは位置を正確に選択しづらい) */
.leaflet-grab {cursor: auto;}

.leaflet-control{
  user-select:none;
}

/* 位置表示エリア(AltitudeArea) */
.coords {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 16px;
  margin : 0em 1em;
  user-select:none;
}

/* Markerアイコンの色を変更する */
.tracer-marker{
  filter: hue-rotate(120deg)
}

/* Markerアイコンの色を変更する */
.measure-marker{
  filter: hue-rotate(240deg)
}

div.measure-popup {
  user-select:none;
}

div.measure-clear {
  font-size: 11px;
  color: blue;
  text-align: center;
  font-weight: 700;
}
div.measure-clear:hover{ text-decoration: underline;}

div.search-location:hover .search-location-icon{
  display: none;
}

div.search-location:focus-within .search-location-icon{
  display: none;
}


div.search-location div.search-location-input{
  display:none;
}


div.search-location:hover div.search-location-input{
  display:block;
  margin:4px;
}

div.search-location:focus-within div.search-location-input{
  display:block;
  margin:4px;
}


div.search-location-input button {
  margin:0px 4px
}
