body {
  margin: 0;
}

/* 地図を画面全体に表示 */
.leaflet-container {
  width: 100vw;
  height: 100vh;
}

/* カーソルを標準に戻す(標準の手アイコンは位置を正確に選択しづらい) */
.leaflet-grab {cursor: auto;}

.leaflet-control{
  user-select:none;
}

/* 位置表示エリア(AltitudeArea) */
.coords {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 16px;
  margin : 0em 1em;
  user-select:none;
}

/* Markerアイコンの色を変更する */
.tracer-marker{
  filter: hue-rotate(120deg)
}

/* Markerアイコンの色を変更する */
.measure-marker{
  filter: hue-rotate(240deg)
}

